@import "tailwindcss";

/* Colores corporativos */
:root {
	--brand-pink: #ff7faf;
	--brand-orange: #fea700;
	--brand-blue: #37c6fe;
	--brand-green: #a3c316;

	/* Variantes más oscuras */
	--brand-pink-dark: #d86795;
	--brand-orange-dark: #d88e00;
	--brand-blue-dark: #2fa8d8;
	--brand-green-dark: #8ba613;

	--soft-1: #fef7f2;
	--soft-2: #fef4df;
	--soft-3: #f9e0d1;

	--hard-1: #222222;
	--hard-2: #333333;
	--hard-3: #555555;
	--hard-4: #777777;
}
