---
import Main from '../layouts/main.astro';

import Programs from '@/components/pages/index/Programs.vue';
import Features from '@/components/pages/index/Features.vue';
import Pronto from '@/components/ui/Pronto.vue';
---

<Main title="Actividades — Ludicarte">
  <section class="prose mx-auto py-12 px-4 w-3/5 bg-white/30 backdrop-blur supports-backdrop-filter:bg-background/60">
    <h1 class="titulo__seccion">Actividades</h1>
    <p>
      Ofrecemos una variedad de actividades diseñadas para estimular habilidades
      artísticas, motoras y sociales.
    </p>
    <Pronto/>
  </section>

  <!-- <Programs /> -->

  <!-- <Features /> -->
</Main>
