---
import Main from '../layouts/main.astro';

import Programs from '@/components/pages/index/Programs.vue';
import Features from '@/components/pages/index/Features.vue';
---

<Main title="Actividades — Ludicarte">
  <section class="prose mx-auto py-12 px-4 w-3/5">
    <h1>Actividades</h1>
    <p>
      Ofrecemos una variedad de actividades diseñadas para estimular habilidades
      artísticas, motoras y sociales. A continuación se muestran nuestros programas actuales.
    </p>
  </section>

  <Programs />

  <!-- <Features /> -->
</Main>
