---
import Main from '../layouts/main.astro';

import Hero from '@/components/pages/index/Hero.vue';
// import Programs from '@/components/pages/index/Programs.vue';
// import Team from '@/components/pages/index/Team.vue';
import ContactForm from '@/components/pages/index/ContactForm.vue';
// import TeamMember from '@/components/pages/index/TeamMember.vue';
import Features from '@/components/pages/index/Features.vue';
---

<Main title="Ludicarte AfterSchool">
	<Hero />

	<!-- <Programs /> -->

	<!-- <Team /> -->
	<!-- <TeamMember name="María García" role="Directora" initials="MG" /> -->

	<Features />
	<ContactForm  />
</Main>