---
import Main from '../layouts/main.astro';

import Hero from '@/src/pages/index/Hero.vue';
import Programs from '@/src/pages/index/Programs.vue';
import Team from '@/src/pages/index/Team.vue';
import ContactForm from '@/src/pages/index/ContactForm.vue';
// import TeamMember from '@/src/pages/index/TeamMember.vue';
import Features from '@/src/pages/index/Features.vue';
---

<Main title="Ludicarte AfterSchool">
	<Hero />

	<!-- <Programs /> -->

	<!-- <Team /> -->
	<!-- <TeamMember name="María García" role="Directora" initials="MG" /> -->

	<Features />
	<ContactForm />
</Main>