---
import Main from '../layouts/main.astro';

import Team from '@/components/pages/index/Team.vue';
import Features from '@/components/pages/index/Features.vue';
---

<Main title="Nosotros — Ludicarte" class=>
  <section class="prose mx-auto py-12 px-4 w-3/5 bg-white/30 backdrop-blur supports-backdrop-filter:bg-background/60">
    <h1>Nosotros</h1>
    <p>
      Ludicarte es un espacio dedicado a fomentar la creatividad y el aprendizaje a través
      de actividades lúdicas y artísticas para niños y niñas. Nuestro equipo combina
      experiencia educativa y pasión por las artes para crear programas seguros y
      estimulantes.
    </p>
  </section>

  <Team />

  <!-- <Features /> -->
</Main>
