---
import '../styles/global.css';
import Background from '@/components/ui/Background.vue';
import Navbar from '@/components/ui/Navbar.vue';
import Footer from '@/components/ui/Footer.vue';

const { title } = Astro.props ?? {};
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="ico" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <title>{title ? `${title}` : 'Astro + TailwindCSS'}</title>
  </head>

  <body>
	<Navbar />
    <slot />
    <div class="fixed inset-0 -z-10 overflow-hidden pointer-events-none">
      <Background />
    </div>
	<Footer />
  </body>
</html>
